/* Old - will adopt the 'theme.json way' */

$mobileWidth:  300px;
$tabletWidth:  768px;
$laptopWidth:  1280px;
$desktopWidth: 1600px;
$xlWidth:      1920px;

:root {
	--lw_slideTime: 0.25s;
	--lw_hoverTime: 0.15s;

	/* layout variables */
	--lw_radius-tiny:  0.15em;
	--lw_radius-small: 0.6em;
	--lw_radius:       1.2em;
	--lw_background:   var(--lw_grey-lightest);
	--lw_border:       solid 0.3em var(--lw_grey-light);
	--lw_gutters:      0.5em;
	@media ( min-width: $mobileWidth ) { --lw_gutters: 1em;   }
	@media ( min-width: $laptopWidth ) { --lw_gutters: 1.5em; }
	--lw_padding:      0.5em;
	@media ( min-width: $mobileWidth ) { --lw_padding: 1em;   }
	@media ( min-width: $laptopWidth ) { --lw_padding: 1.5em; }

	/* Scrollbar width updated by screenclass.js */
	--scrollbar: 0px;

	--lw_pink-lightest:   hsl(303, 53%, 88%);
	--lw_pink-light:      hsl(303, 53%, 60%);
	--lw_pink:            hsl(303, 53%, 50%);
	--lw_pink-dark:       hsl(303, 53%, 40%);
	--lw_pink-darkest:    hsl(302, 53%, 20%);
	--lw_purple-lightest: hsl(263, 53%, 88%);
	--lw_purple-light:    hsl(264, 53%, 60%);
	--lw_purple:          hsl(264, 53%, 50%);
	--lw_purple-dark:     hsl(264, 53%, 40%);
	--lw_purple-darkest:  hsl(263, 53%, 20%);
	--lw_blue-lightest:   hsl(207, 53%, 88%);
	--lw_blue-light:      hsl(207, 53%, 60%);
	--lw_blue:            hsl(207, 53%, 50%);
	--lw_blue-dark:       hsl(207, 53%, 40%);
	--lw_blue-darkest:    hsl(207, 53%, 20%);
	--lw_green-lightest:  hsl(136, 53%, 88%);
	--lw_green-light:     hsl(136, 53%, 60%);
	--lw_green:           hsl(136, 53%, 50%);
	--lw_green-dark:      hsl(136, 53%, 40%);
	--lw_green-darkest:   hsl(136, 53%, 20%);
	--lw_yellow-lightest: hsl(62, 76%, 88%);
	--lw_yellow-light:    hsl(61, 75%, 60%);
	--lw_yellow:          hsl(61, 76%, 50%);
	--lw_yellow-dark:     hsl(61, 75%, 40%);
	--lw_yellow-darkest:  hsl(62, 76%, 20%);
	--lw_orange-lightest: hsl(30, 76%, 88%);
	--lw_orange-light:    hsl(30, 75%, 60%);
	--lw_orange:          hsl(30, 76%, 50%);
	--lw_orange-dark:     hsl(30, 75%, 40%);
	--lw_orange-darkest:  hsl(30, 76%, 20%);
	--lw_red-lightest:    hsl(0, 76%, 88%);
	--lw_red-light:       hsl(0, 75%, 60%);
	--lw_red:             hsl(0, 76%, 50%);
	--lw_red-dark:        hsl(0, 75%, 40%);
	--lw_red-darkest:     hsl(0, 76%, 20%);
	--lw_white:           hsl(0, 0%, 100%);
	--lw_grey-lightest:   hsl(0, 0%, 93%);
	--lw_grey-light:      hsl(0, 0%, 73%);
	--lw_grey:            hsl(0, 0%, 50%);
	--lw_grey-dark:       hsl(0, 0%, 30%);
	--lw_grey-darkest:    hsl(0, 0%, 20%);
	--lw_black:           hsl(0, 0%, 0%);

	/* SVG borders and backgrounds | NOTE: border-image-repeat and border-image-slice props (12 round) must be included in shorthand string */
	--lw_triBorder:       url("data:image/svg+xml,%3Csvg width='36' height='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='trings' width='12' height='12' patternUnits='userSpaceOnUse'%3E%3Cpath fill='hsl(0, 75%25, 60%25)' d='M 1.4,1.3 1,9.4 9.1,1.4 Z' /%3E%3Cpath fill='hsl(61, 76%25, 50%25)' d='M 2.5,11 11,2.7 10.5,10.8 Z' /%3E%3Crect fill='none' width='12' height='12' x='0' y='0' /%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23trings)' width='36' height='36' x='0' y='0' /%3E%3C/svg%3E") 12 round;
	--lw_arrowBorder:     url("data:image/svg+xml,%3Csvg width='36' height='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='arrows' width='36' height='36' patternUnits='userSpaceOnUse'%3E%3Crect fill='%230000' width='36' height='36' x='0' y='0' /%3E%3Cg id='arws'%3E%3Cpath fill='hsl(30, 75%25, 60%25)' d='M 1,17 6,12 11,17 10,18 6,14 2,18 Z' id='path2' /%3E%3Cpath fill='hsl(136, 53%25, 50%25)' d='M 1,23 6,18 11,23 10,24 6,20 2,24 Z' id='path4' /%3E%3C/g%3E%3Cpath id='crnr' fill='hsl(136, 53%25, 50%25)' stroke-width='1' d='M 11,11 H 1 V 5 H 9 V 3 H 1 V 1 H 11 V 7 H 3 V 9 H 11 Z' /%3E%3Cuse href='%23crnr' transform='rotate(-90,18,-6)' /%3E%3Cuse href='%23crnr' transform='rotate(180,18,18)' /%3E%3Cuse href='%23crnr' transform='rotate(90,-6,18)' /%3E%3Cuse href='%23arws' transform='rotate(90,18,18)' /%3E%3Cuse href='%23arws' transform='rotate(180,18,18)' /%3E%3Cuse href='%23arws' transform='rotate(-90,18,18)' /%3E%3C/pattern%3E%3C/defs%3E%3Crect style='fill:url(%23arrows);' width='36' height='36' x='0' y='0' /%3E%3C/svg%3E%0A") 12 round;
	--lw_eggsBorder:      url("data:image/svg+xml,%3Csvg width='36' height='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='eggs' width='12' height='12' patternUnits='userSpaceOnUse'%3E%3Cpath fill='hsl(0, 75%25, 60%25)' d='M0 0h12v12H0z' /%3E%3Cellipse fill='hsl(0, 0%25, 100%25)' cx='5.7' cy='5.8' rx='3.8' ry='4' /%3E%3Cellipse fill='hsl(61, 75%25, 60%25)' cx='5.7' cy='5.8' rx='1.5' ry='1.7' /%3E%3C/pattern%3E%3C/defs%3E%3Crect style='fill:url(%23eggs);' width='36' height='36' x='0' y='0' /%3E%3C/svg%3E") 12 round;
	--lw_squareDotBorder: url("data:image/svg+xml,%3Csvg width='36' height='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='sqdot' width='12' height='12' patternUnits='userSpaceOnUse'%3E%3Cpath fill='hsl(207, 53%25, 50%25)' d='M3 0 0 4v4l3 4h6l3-4V4L9 0Z' /%3E%3Ccircle fill='hsl(30, 76%25, 50%25)' cx='6' cy='6' r='3.1' /%3E%3C/pattern%3E%3C/defs%3E%3Crect style='fill:url(%23sqdot);' width='36' height='36' x='0' y='0' /%3E%3C/svg%3E") 12 round;
	--lw_aztecBorder:     url("data:image/svg+xml,%3Csvg width='36' height='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='aztec' width='12' height='12' patternUnits='userSpaceOnUse'%3E%3Cpath fill='hsl(61, 75%25, 60%25)' d='M3 9V7H1V5h2V3h2V1h2v2h2v2h2v2H9v2H7v2H5V9Z' /%3E%3Cpath fill='hsl(136, 53%25, 50%25)' d='M5 3h2v2h2v2H7v2H5V7H3V5h2Z' /%3E%3C/pattern%3E%3C/defs%3E%3Crect style='fill:url(%23aztec);' width='36' height='36' x='0' y='0' /%3E%3C/svg%3E%0A") 12 round;
	--lw_iconBackground:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cpath fill='%23cff9e9' d='M20 11c-32 15-23 72 8 85 30 14 76-11 72-58S51-5 20 11z'/%3E%3C/svg%3E");

}

/*-------------------------------------------------------- 1.5 TYPOGRAPHY ----*/


.textAlignCenter { text-align: center; }
.textAlignEnd    { text-align: end; }

.copy {
	margin: 0 auto;
	padding: var(--lw_padding);
    width: 100%;
	max-width: calc( 30em + calc( 2 * var(--lw_padding) ) );
	text-align: start;
}
    .copy img {
        max-width: 100%;
		object-fit: contain;
		height: auto;
    }
    .copy a {
        text-decoration: none;
    }
    .copy a:hover {
        text-decoration: underline;
    }

	.copy > * {
        max-width: 100%;
    }

.title {
	margin-block-end: 1.688em;
    margin-block-start: 2.75em;
    letter-spacing: -0.03em;
    font-size: clamp( var(--wp--preset--font-size--xx-large), 1vw, var(--wp--preset--font-size--xxx-large) );
}

.display {
	margin-block-end: 4vw;
	line-height: 1.1;
	font-size: clamp(7vw, 9vw,10vw);
	font-weight: 100;
}
@media ( min-width: $tabletWidth ) {
	.display {
		margin-block-end: 4vw;
		font-size: clamp( 3.5vw, 4.5vw, 5vw );
		font-weight: 100;
	}
}

p,
ul,
ol,
blockquote,
pre {
    margin-block-end: 1.688em;
	margin-block-start: 1em;
    margin-inline-end: 0;
    margin-inline-start: 0;
    line-height: 1.688em;
    letter-spacing: 0.016em;
}

ul,
ol {
	margin-inline-start: 1.688em;
}

li {
	margin-block-end: 0.688em;
}

sub, sup {
  padding: 0.0 0.063em;
}

code, pre, kbd {
  font-size: var(--wp--preset--font-size--small);
}

code {
  margin: 0.0 0.063em;
  padding: 0.188em 0.25em;
}

pre {
  padding: 0.688em;
}

kbd {
  margin: 0.0 0.063em;
  padding: 0.188em 0.25em;
}

.footnotes {
  padding-top: 1.063em;
  line-height: 1.438em;
  font-size: var(--wp--preset--font-size--small);
}
    .footnotes > a {
        text-decoration: none;
    }
    .footnotes > a:hover {
        text-decoration: underline;
    }

.reference > a {
    text-decoration: none;
}
    .reference > a:hover {
        text-decoration: underline;
    }

ul ul,
ul ol,
ol ul,
ol ol,
blockquote p:last-child {
	margin-block-end: 0.0;
}

blockquote {
	border-width: 0 0 0 0.4em;
	border-style: solid;
	border-color: var(--lw_grey);
	background: var(--lw_grey-lightest);
	padding: 0.1em 1.1em;
	font-style: italic;
	quotes: '\201C''\201D''\2018''\2019';
}
	blockquote::before {
		margin-inline-end: 0.15em;
		vertical-align: -0.4em;
		line-height: 0.1em;
		color: var(--lw_grey-light);
		font-size: var(--wp--preset--font-size--xxx-large);
		content: open-quote;
	}
	blockquote-left {
		padding: 0 0 0 1.1em;
	}

.alert {
	margin-block-end: 1.688em;
	border: var(--lw_border);
	border-radius: var(--lw_radius-small);
	background: var(--lw_grey-lightest);
	padding: 0.8em;
	text-align: center;
	line-height: 1.688em;
	color: var(--lw_grey-darkest);
	font-weight: bold;
}
	.alert::before {
		margin-inline-end: 0.5em;
		content: 'ⓘ';
	}
	.alert:last-child {
		margin-block-end: 0;
	}
		.alert-hover {
			box-shadow: 1px 3px 6px 1px #000a;
		}
			.alert-danger {
				background: var(--lw_red-light);
				color: var(--lw_white);
			}
			.alert-success {
				background: var(--lw_green-dark);
				color: var(--lw_white);
			}
			.alert-info {
				background: var(--lw_blue-lightest);
				color: var(--lw_white);
			}
			.alert-warning {
				background: var(--lw_orange);
				color: var(--lw_white);
			}

strong {
	font-weight: 400;
}

.narrow {
	max-width: 27em;
	text-align: center;
}

.tip::before {
	margin-inline-end: 0.5em;
	content: 'ⓘ';
}

.tip {
	margin-inline-start: 1.2em;
	display: block;
	margin: 0 1.2em 2.6em 1.2em;
	background: var(--lw_grey-lightest);
	padding: 0 0.5em 0 0.5em;
	line-height: 2;
	color: var(--lw_grey-darkest);
	font-size: var(--wp--preset--font-size--small);
}


/*----------------------------------------------------------- 1.6 WIDGETS ----*/


.widget {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: var(--lw_padding);
}
	.widget ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}
		.widget ul li {
			margin: 0.8em 0;
			border-radius: 0.3em;
			background: var(--lw_grey-lightest);
			padding: 0 0.3em;
		}
			.widget ul li:hover {
				cursor: pointer;
				background: var(--lw_green-dark);
				color: var(--lw_white);
			}
	.widget a {
		color: inherit;
		text-decoration: none;
	}


/*-------------------------------------------- 1.7 WORDPRESS CORE CLASSES ----*/


.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: var(--lw_white);
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: var(--lw_grey-lightest);
	clip: auto !important;
	clip-path: none;
	color: var(--lw_grey-darkest);
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}


/*----------------------------------------------------- 1.8 ACCESSIBILITY ----*/

/* see .screen-reader-text in WP core classes */


/*=========================================================== 2. ELEMENTS ====*/
/*--------------------------------------------------- 2.1 LAYOUT ELEMENTS ----*/
/*- - - - - - - - - - - - - - - - - - - - - -  2.1.1 LAYOUT - GLOBAL GRID - - */


.pageGrid {
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: [full-l main-l] 0 [wide-l dip-l sides-l] 1fr [sides-r dip-r wide-r] 0 [main-r full-r];
}

@media ( min-width: $tabletWidth ) {
	.pageGrid {
		grid-template-columns: [full-l] 0 [wide-l dip-l sides-l] 24em [sides-r dip-r main-l] 1fr [main-r wide-r] 0 [full-r];
	}
}

@media ( min-width: $laptopWidth ) {
	.pageGrid {
		grid-template-columns: [full-l] 0 [wide-l dip-l] 24em [main-l dip-r] 1fr [main-r sides-l] 24em [sides-r wide-r] 0 [full-r];
	}
}

.base {
	grid-column: main-l / main-r;
}

.pageGrid_inner {
	grid-column: wide-l / wide-r;
}

.sides {
	grid-column: sides-l / sides-r;
}

.dip,
.sides-narrow {
	grid-column: dip-l / dip-r;
}

.sides-narrow {
	display: contents;
}

@media ( min-width: $tabletWidth ) and ( max-width: $laptopWidth ) {
	.sides-narrow {
		display: flex;
		flex-direction: column;
	}
}

.base,
.dip,
.sides {
	display: flex;
	flex-direction: column;
}

.pageGrid,
.base,
.dip,
.sides,
.sides-narrow {
	gap: var(--lw_gutters);
}


/*- - - - - - - - - - - - - - - - - - - - - - 2.1.2 LAYOUT - SECTION GRID - - */


.sectionGrid {
	--narrow: minmax( 0px, 48rem );
	--medium: clamp( 0px, calc( 50% - 24rem), 8rem );
	--wide: clamp( 0px, calc( 50% - 32rem), 13rem );
	gap: 0;
	display: grid;
	position: relative;
	grid-template-columns: [full-l] 1fr [wide-l medium-l narrow-l] var(--narrow) [narrow-r medium-r wide-r] 1fr [full-r];
	grid-column: 1 / -1;
	justify-content: center;
	width: 100%;
	text-align: center;
	
	@media (min-width: 64rem) {
		grid-template-columns: [full-l] 1fr [wide-l medium-l] var(--medium) [narrow-l] var(--narrow) [narrow-r] var(--medium) [medium-r wide-r] 1fr [full-r];
	}
	@media (min-width: 90rem) {
		grid-template-columns: [full-l] 1fr [wide-l] var(--wide) [medium-l] var(--medium) [narrow-l] var(--narrow) [narrow-r] var(--medium) [medium-r] var(--wide) [wide-r] 1fr [full-r];
	}

	.landing_content {
		position: relative;
		grid-row: var(--row);
		grid-column: var(--col);
		z-index: 0;
	}
	
	.landing_backdrop {
		display: flex;
		position: absolute;
		grid-row: 1 / -1;
		grid-column: 1 / -1;
		justify-content: center;
		z-index: -1;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}


/*- - - - - - - - - - - - - - - - - - - - - - -  2.1.3 LAYOUT - MASONFLOP - - */


.masonFlop {
	margin: 0.5em 0;
	padding: 0.5em;
    width: 100%;

	.masonFlop_card {
		gap: 1em;
		display: flex;
		flex: 1 1 auto;
		flex-flow: column;
		margin-bottom: 1em;
		border-radius: var(--lw_radius-tiny);
		background: var(--lw_blue-lightest);
		padding: 1em;

		.masonFlop_content-left,
		.masonFlop_content-right {
            flex: 1 1 50%;
		}

		.masonFlop_content-left {
			figure {
				margin: 0;

				img {
					object-fit: cover;
					border-radius: var(--lw_radius-tiny);
					max-width: 100%;
					height: auto;
				}
			}
		}

		.masonFlop_content-right {
            h3 {
				margin-bottom: 0;
                font-size: var(--wp--preset--font-size--x-large);
            }

			span.masonFlop_moustache {
				border-radius: var(--lw_radius-tiny);
				background: var(--lw_grey-lightest);
				padding: 0.1em 0.4em;
				color: var(--lw_grey-dark);
				font-style: italic;
			}
		}
	}

	@media (min-width: 320px) {
		margin: 2em 0;
		padding: 1em;
	
		.masonFlop_card {
			margin-bottom: 2em;
			border-radius: var(--lw_radius-tiny);
			padding: 1em;
		}
	}

	/* flip-flop */
	@media (min-width: 608px) and (max-width: 1023px) {
		.masonFlop_card:nth-child(even) {
			flex-flow: row;
		}
		.masonFlop_card:nth-child(odd) {
			flex-flow: row-reverse;
		}
	}

	/* masonry */
	@media (min-width: 10var(--wp--preset--spacing--50)) {
		columns: 28em;
		column-gap: 1em;

		.masonFlop_card {
			break-inside: avoid-column;
			flex-flow: column nowrap;
			overflow: hidden; /* fix for firefox */
			page-break-inside: avoid;
		}
	}
}


/*- - - - - - - - - - - - - - - - - - - - - - -  2.1.4 LAYOUT - BLOG POST - - */

.blog-post {
	
	img {
		-o-object-fit: contain;
		   object-fit: contain;
		height: auto;
		max-width: 100%;
		border-radius: var(--lw_radius-small);
	}
}

/*-------------------------------------------------------- 2.2 CONTAINERS ----*/
/*- - - - - - - - - - - - - - 2.2.1 CONTAINERS - GLOBAL CONTENT CONTAINER - - */

.sauce {
	display: flex;
	z-index: 1;
	border: var(--lw_border);
	border-radius: var(--lw_radius);
	background: var(--lw_background);
}
	.base .sauce {
		border-right: 0;
		border-left: 0;
		border-radius: 0;
	}
		@media ( min-width: $tabletWidth ) {
		.base .sauce {
			border: var(--lw_border);
			border-radius: var(--lw_radius);
		} }


/*- - - - - - - - - - - - - - - - - - - - - -  2.2.2 CONTAINERS - SQUARES - - */


.squares {
	display: grid;
	grid-template: -webkit-min-content calc( 100vw - var(--scrollbar) ) -webkit-min-content -webkit-min-content / 100%;
	grid-template: min-content calc( 100vw - var(--scrollbar) ) min-content min-content / 100%;
	width: 100%;
}
	.squares .column {
		display: flex;
		flex-flow: column nowrap;
		width: 100%;
		height: 100%;
	}

		.squares {
			justify-content: center;
			padding: 0 6%;
			max-width: 100%;
		}

@media ( min-width: $tabletWidth ) {

	.squares {
		grid-template: minmax(50vw, -webkit-min-content) minmax(50vw, -webkit-min-content) / 60% 40%;
		grid-template: minmax(50vw, min-content) minmax(50vw, min-content) / 60% 40%;
	}
}

@media ( min-width: $laptopWidth ) {

	.squares {
		display: grid;
		grid-auto-flow: dense;
		grid-template: -webkit-min-content -webkit-min-content / 50% 50%;
		grid-template: min-content min-content / 50% 50%;
		width: 100%;
	}
		.squares > div:nth-of-type(4n+3) {
			grid-column-start: 2;
		}
}


/*----------------------------------------------------------- 2.5 BUTTONS ----*/
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - 2.5.1 BASE BUTTON - - */


.button {
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 10em;
    background-color: #0000;
    padding: 0;
	width: max-content;
    max-width: 100%;
	height: fit-content;
    overflow: visible;
    text-decoration: none;
    font-size: inherit;
    transition: color .2s ease-in-out,
		background-color .2s ease-in-out,
		border-color .2s ease-in-out,
		filter .2s ease-in-out;
}
    .button > *:first-child {
        display: inline-block;
        transition: inherit;
        border: solid 0.2em #0000;
        border-radius: inherit;
        background: var(--lw_grey-darkest);
        padding: 0.26em 1em;
        width: max-content;
        max-width: 100%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        letter-spacing: -0.04em;
        white-space: normal;
        color: var(--lw_white);
        font-weight: 800;
    }
		.button:hover {
			cursor: pointer;
		}
		.button:hover > *:first-child {
            color: var(--lw_grey-darkest);
			background: #0000;
            border: solid 0.2em;
		}
		.button:focus,
		.button:focus-visible {
			z-index: 1;
			outline: 0;
			box-shadow: 0 0 0 0.25em var(--lw_green-dark);
		}


/*- - - - - - - - - - - - - - - - - - - - - - - -  2.5.2 BUTTONS - BORDER - - */


.button-border {
	background: transparent;
}
    .button-border > *:first-child {
		border: solid 0.2em;
    	background: transparent;
		color: var(--lw_grey-darkest);
    }
    .button-border:hover > *:first-child {
		border: solid 0.2em var(--lw_grey-darkest);
    	background: var(--lw_grey-darkest);
		color: var(--lw_white);
    }

/*- - - - - - - - - - - - - - - - - - - - - - - -  2.5.3 BUTTONS - NOBACK - - */


.button-noback {
	background: transparent;
}
	.button-noback > *:first-child {
		background: transparent;
		color: var(--lw_grey-darkest);
	}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - 2.5.4 WIDGET BUTTON - - */


.widget .button {
	font-size: var(--wp--preset--font-size--medium);
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - 2.5.5 MENU TOGGLE - - */


.menuToggle {
	display: flex;
	position: fixed;
    top: 1.5em;
    right: 1.5em;
	border: none;
	background: none;
	padding: 0.2em;
	width: 4em;
	height: 4em;
	font-size: var(--wp--preset--font-size--medium);
    z-index: 10;
    transition: top 0.2s ease, right 0.2s ease;
	color: inherit;

	&:hover {
		cursor: pointer;

		.burger {
			transform: scale(1.2);
			opacity: 1;
		}
	}

	.burger {
		filter: url(#gooeyness);
		transition: 400ms 100ms;
		width: 100%;
		height: 100%;

		.menuToggle_x,
		.line {
			transform-origin: 50% 50%;
			transition: 400ms 100ms;
		}
		.menuToggle_x {
			transform: scale(0);
		}
		.line {
			fill: none;
			stroke: var(--lw_grey-darkest);
			stroke-width: 11px;
		}
	}
}

.menu_active .menuToggle {

	@media (max-width: 44.999em) {
		top: 0.5em;
		right: 0.5em;
	}

	.menuToggle_x {
		transform: scale(1);
	}
	.line1 {
		transform: translateX(18%) translateY(-3%) rotate(-45deg) scale(.01);
	}
	.line2 {
		transform: translateX(-18%) translateY(-3%) rotate(45deg) scale(.01);
	}
	.line3 {
		transform: translateY(0) rotate(45deg) scale(.01);
	}
	.line4 {
		transform: translateY(0%) rotate(-45deg) scale(.01);
	}
	.line5 {
		transform: translateX(18%) translateY(3%) rotate(45deg) scale(.01);
	}
	.line6 {
		transform: translateX(-18%) translateY(3%) rotate(-45deg) scale(.01);
	}
}


/*============================================================= 3. BLOCKS ====*/
/*------------------------------------------------------------ 3.1 COMMON ----*/
/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -  3.1.1 HEADER - - */


header.pageGrid {
    content-visibility: visible;
    position: relative;
    transition: transform 0.3s ease-in-out;
	z-index: 10;
    background: var(--lw_white);
	border-bottom: solid 0.25em;
    width: 100%;
    height: fit-content;

	.pageGrid_inner {
        gap: var(--lw_gutters);
		display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
		padding: var(--lw_padding);
		width: auto;
        height: fit-content;

		.header_content {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			justify-content: flex-start;
			min-height: 4em;
			white-space: nowrap;
		}

		.header_content-left   {
			flex: 1 1 100%;
			justify-content: center;
		}

		.header_content-right  {
			display: none;
			justify-content: center;
		}
	}

	@media ( min-width: $tabletWidth ) {
		// background: unset;
		height: fit-content;
		
		.pageGrid_inner {
			flex-flow: row nowrap;
			justify-content: space-between;
			min-height: 4.6em;

			.header_content-left   {
				flex: 0 0 fit-content;
				justify-content: flex-start;
			}
			.header_content-right  {
				display: block;
				flex: 1 1 100%;
				justify-content: flex-end;
			}
		}
	}
}


/* FOOTER */

footer.pageGrid {
	margin-top: 5em;
	z-index: 10;

	footer.pageGrid_inner {
		display: flex;
		bottom: 0;
		flex-shrink: 0;
		flex-wrap: wrap;
		justify-content: center;
		margin: 1.5em 0 1em 0;
		padding-top: 1em;
		width: auto;
		max-width: 100vw;
		color: var(--hb_grey-darkest);
	}
		.footer_nav {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			gap: 0.5em;
			padding: 0.5em;
			width: 100%;
			max-width: 40em;
			margin: 0 auto;
		}

			.footer_bottom {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-around;
				margin: 3em 0 0 0;
				width: 100%;
				font-size: var(--hb_font-s);
			}
			@media ( min-width: $tabletWidth ) { .footer_bottom {
				justify-content: space-between;
			}}
			
			.footer_nav .button {
				height: min-content;
			}

				.footer_nav .button > *:first-child {
					white-space: normal;
				}
}



/*- - - - - - - - - - - - - - - - - - - - - - - - - - - 3.1.3 SITE TITLE - - */


.siteTitle {
	gap: var(--lw_gutters);
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	text-decoration: none;
	color: var(--lw_grey-darkest);

	.siteTitle_logo {
		object-fit: contain;
		width: auto;
		height: 4em;

		@media ( min-width: $laptopWidth ) { height: 6em; }
	}

	.siteTitle_text {
		gap: 0.3em;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.siteTitle_sitename {
			margin: 0;
			letter-spacing: -0.06em;
			font-size: var(--wp--preset--font-size--medium);
			font-weight: 600;

			@media ( min-width: $laptopWidth ) { font-size: var(--wp--preset--font-size--large); }
		}

		.siteTitle_tagline {
			letter-spacing: -0.03rem;
			white-space: normal;
			font-size: var(--wp--preset--font-size--small);
			font-weight: 200;

			@media ( min-width: $laptopWidth ) { font-size: var(--wp--preset--font-size--medium); }
		}
	}
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - -  3.1.4 MODAL - - */


.modal {
	display: none; /* flex */
	opacity: 1;
	z-index: 10;
	overflow: auto;
}
	.modal_dialog {
		display: grid;
		grid: [controls] -webkit-max-content 1fr [contents] auto 1fr / 100%;
		grid: [controls] max-content 1fr [contents] auto 1fr / 100%;
		justify-items: center;
		z-index: 10;
		margin: auto;
		border-radius: var(--lw_radius-small);
		min-width: clamp(10em, 100%, 32em);
		max-height: -webkit-fit-content;
		max-height: -moz-fit-content;
		max-height: fit-content;
		overflow: auto;
	}
		.modal_controls {
			display: flex;
			flex-flow: row;
			grid-row: controls / span 1;
			justify-content: flex-end;
			padding: 0.5em;
			width: 100%;
			height: -webkit-fit-content;
			height: -moz-fit-content;
			height: fit-content;
		}
		.modal_contents {
			grid-row: contents / span 1;
		}
			.modal_control-close {
				border: none;
				border-radius: var(--lw_radius-tiny);
				background: var(--lw_red-light);
				padding: 0.15em 0.6em;
				color: var(--lw_white);
				font-family: inherit;
				font-size: inherit;
				font-weight: 600;
			}
			.modal_control-close:hover {
				cursor: pointer;
			}

@media ( max-width: $tabletWidth ) {
	.modal_dialog {
		position: fixed;
		top: 0;
		left: 0;
		align-items: center;
		border: none;
		border-radius: 0;
		width: calc( 100vw - var(--scrollbar) );
		height: 100vh;
		overflow: auto;
	}
}

@media (min-width: 48em) {
	.modal {
		position: fixed;
		top: 0;
		background: #000a;
		width: 100%;
		height: 100vh;
	}
}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - -  3.1.5 MAIN MENU - - */


.mainMenu {
    gap: 0.5em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
    margin: 0.5em;
    padding: 0.5em;
    width: 100%;
}
	.mainMenu_item {
		overflow-wrap: break-word;
		text-decoration: none;
		white-space: normal;
	}
	.mainMenu_item a {
		color: inherit;
	}
	@media ( min-width: $tabletWidth ) {
		.mainMenu_item {
			white-space: nowrap;
		}
	}

	a.mainMenu_item:focus,
	.mainMenu_item a:focus,
	button.mainMenu_item:focus,
	.mainMenu_item button:focus,
	.mainMenu_item:focus,
	.dropdown_toggle:focus,
	.dropdown_primary:focus {
		outline: 0;
	}

	.mainMenu_item a:hover,
	.mainMenu_item button:hover,
	a.mainMenu_item:hover,
	button.mainMenu_item:hover,
	.mainMenu_item a:focus-visible,
	.mainMenu_item button:focus-visible,
	.mainMenu_item:focus-visible,
	.dropdown_toggle:focus-visible,
	.dropdown_primary:hover,
	.dropdown_primary:focus-visible {
		outline: 0;
	}

	.mainMenu_item-active {
		font-weight: 700;
	}



/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - 3.1.6 DROPDOWN - - */


.dropdown {
    display: inline-flex;
    position: relative;
    flex-flow: row nowrap;
    align-items: stretch;
	padding: 0;
    min-height: fit-content;
	grid-template-areas:
		'a b'
		'c c';
	grid-template-columns: 1fr auto;
	color: inherit;
}
	.dropdown_primary {
		flex-grow: 1;
		margin-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		text-decoration: none;
		color: inherit;
	}
		.dropdown_primary > *:first-child {
			padding-right: 0.4em;
		}
	.dropdown_toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all var(--lw_slideTime) ease-in;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background-color: transparent;
		cursor: pointer;
		padding-left: 0;
		color: inherit;
	}
		.dropdown_toggle > *:first-child {
			padding-left: 0.4em;
		}
		.dropdown_toggleIcon {
			padding: 0 0.4em;
		}
			.dropdown_toggleIcon > svg {
				transition: transform var(--lw_hoverTime) ease-in-out;
				height: 12px;
			}
			.dropdown_toggleIcon > svg:after {
				content: '';
				display: block;
				height: 2ex;
				width: 0;
			}


	.dropdown_contents {
		display: flex;
		position: absolute;
		top: calc( 100% + 0.5em );
		right: 0;
		left: unset;
		flex-flow: column nowrap;
		grid-area: c;
		transition: all var(--lw_slideTime) ease-in;
		z-index: 10;
		background-color: var(--lw_white);
		width: calc( 100% - 8px );
		min-width: max-content;
		max-height: 0;
		overflow: hidden;
		text-align: left;
		color: var(--lw_grey-darkest);
		font-size: inherit;
	}

	.dropdown_contents:not( .dropdown_contents .dropdown_contents ) {
		border-radius: 0.5em;
	}
		.dropdown_item {
			display: inline-flex;
			background-color: transparent;
			width: 100%;
		}
		.dropdown_contents a {
			background-color: transparent;
			border-top: solid 1px transparent;
			border-bottom: solid 1px transparent;
			width: 100%;
			text-decoration: none;
			padding: 0.26em 1em;
		}
		.dropdown_contents a:hover {
			border-top: solid 1px var(--lw_grey-light);
			border-bottom: solid 1px var(--lw_grey-light);
			background: var(--lw_grey-lightest);
		}

.dropdown_toggle-active > .dropdown_toggleIcon > svg {
	transform: rotateX( 180deg );
}
	.dropdown_toggle-active + .dropdown_contents {
		max-height: 500px; // auto.
	}
	.dropdown_toggle-active + .dropdown_contents:not( .dropdown_contents .dropdown_contents ) {
		padding-top: 0.25em;
		padding-bottom: 0.25em;
	}
	.dropdown:not( .dropdown-inMenu ):not( .fullscreenMenu .dropdown ) > .dropdown_toggle-active + .dropdown_contents {
		box-shadow: 0px 4px 4px 0px #0008;
	}

.dropdown-swingLeft > .dropdown_contents {
	left: unset;
	right: 0;
}
.dropdown-swingRight > .dropdown_contents {
	left: 0;
	right: unset;	
}

.dropdown-inMenu {
	gap: 0;
	display: inline-grid;
	align-items: center;
	justify-content: space-between;
	line-height: 1.4;
}
	.dropdown-inMenu > .dropdown_primary > *:first-child {
		padding: 0;
	}
	.dropdown-inMenu > .dropdown_toggle {
		align-items: center;
		align-self: stretch;
		justify-content: center;
		border: none;
		padding: 0;
	}
		.dropdown-inMenu > .dropdown_toggle > *:first-child  {
			padding: 0 1em;
		}
	.dropdown-inMenu > .dropdown_toggle:before {
		content: '';
		display: block;
		width: 0;
		height: 80%;
		border-left: solid 1px var(--lw_grey-light);
	}
	.dropdown-inMenu > .dropdown_toggle:hover,
	.dropdown-inMenu > .dropdown_toggle-active {
		border-top: solid 1px var(--lw_grey-light);
		border-bottom: solid 1px var(--lw_grey-light);
		background: var(--lw_grey-lightest);
	}
	.dropdown-inMenu > .dropdown_contents {
		position: static;
		align-items: center;
		align-self: stretch;
		justify-content: center;
		background-color: transparent;
	}
	.dropdown-inMenu > .dropdown_toggle-active + .dropdown_contents {
		margin-left: 8px;
		border-left: solid 4px;
	}


/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - 3.1.7 LILCARDS - - */


.lilCards {
	gap: 1em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	perspective: 2000px;
	perspective-origin: center;
	margin: 0 auto;
	width: 100%;
	overflow: visible;

	@media ( min-width: $mobileWidth ) {
		padding: 1em;
	}

	.lilCards_flip {
		cursor: pointer;
	}

	.lilCards_card {
		display: flex;
		position: relative;
		flex: 0 1 22em;
		flex-flow: column;
		align-items: center;
		justify-content: flex-start;
		transform-style: preserve-3d;
		border: solid 20px;
		border-radius: 3px;
		box-shadow: 0 0 2em 0 #0004;
		background: var(--lw_white);
		width: 33.333%;
		text-decoration: none;
		color: inherit;

		&:nth-child(1) { border-image: var( --lw_eggsBorder ); }
		&:nth-child(2) { border-image: var( --lw_arrowBorder ); }
		&:nth-child(3) { border-image: var( --lw_squareDotBorder ); }
		&:nth-child(4) { border-image: var( --lw_triBorder ); }

		&.lilCards_card-wide {
			flex: 0 0 100%;
			max-width: 68em;

			.lilCards_front {
				gap: 3em;
				flex-flow: row wrap;

				.lilCards_child {
					display: flex;
					flex-flow: column;
					align-items: center;
					justify-content: center;
				}
	
				.lilCards_child-left {
					flex: 1 1 22em;
				}
	
				.lilCards_child-right {
					flex: 1 1 50%;

					.form {
						padding: 0;

						.lilCards_logo {
							padding: 1em;
							height: 5em;
						}

						.lilCards_title {
							margin: 0;
						}
					}
				}
			}
		}
	}

	.lilCards_front,
	.lilCards_back {
		display: flex;
		flex-flow: column;
		align-items: center;
		backface-visibility: hidden;
		background: var(--lw_white);
		padding: 3em 0.5em;
		width: 100%;
		height: 100%;
	}

	.lilCards_back {
		position: absolute;
		top: 0;
		left: 0;
		transform: rotateY( 180deg );
		padding: 2em 0.5em;

		&>p {
			margin: auto 0;
		}
	}

	.lilCards_icon {
		aspect-ratio: 1/1;
		background-image: var( --lw_iconBackground );
		background-position: top;
		background-repeat: no-repeat;
		background-size: 100%;
		padding: 0.5em;
		width: 3.5em;
		overflow: visible;
	}

	.lilCards_tapIcon {
		aspect-ratio: 1 / 1;
		position: absolute;
		right: 0;
		bottom: 0;
		opacity: 0.5;
		border-radius: 100%;
		background: radial-gradient( #fff 0%, #0000 75% );
		padding: 0.5em;
		height: 3.5em;
	}

	.lilCards_list {
		display: flex;
		flex-flow: column;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: 1.8;

		li {
			margin-block-end: .3em;
			text-transform: capitalize;
		}
	}
}



/* HEROPUNCH COPIED FROM BLOCK */



 .heroPunch {
	overflow-x: clip; // hidden breaks position:sticky on children.

	.scrollTriggerParent {
		height: calc( 100vh + 2500px );

		.scrollTriggerChild {
			width: 100%;
			height: 100vh;
			position: sticky;
			top: 0;
		}
	}

	.landing_content {
		--row: 1 / -1;
		--col: narrow-l / narrow-r;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		height: 100vh;
		
		.star {
			position: absolute;
			visibility: hidden;
			width: 20vmin;
			height: 20vmin;
		}
	}

	.landing_backdrop {
		height: 115vh;

		background:
			radial-gradient(
				at 9% 9%,
				#fffb 0%,
				#fff0 30%
			),
			linear-gradient(
				var(--lw_blue-light) 0%,
				var(--lw_blue-lightest) 20%,
				var(--lw_yellow-light) 55%,
				var(--lw_orange-light) 60%,
				#fff 61%
			);
	}

	.fist_container {
		position: fixed;
		display: flex;
		justify-content: center;
		top: 110vh;
		z-index: 2;
		width: 100%;
		height: fit-content;
		
		.fist {
			width: 50rem;
			max-width: 100vw;
			height: 200vh;
			margin-top: 30vh;
		}
	}

	.desert_clouds {
		position: absolute;
		/* dimensions are inline */
		width: 100%;
		height: 100%;
	}
		.desert_cloud {
			animation: linear infinite animation_scrollLeftToRight;
			animation-duration: var(--animDur);
		}
			@keyframes animation_scrollLeftToRight {
				0%		{ transform: translateX(0); }
				45%	    { opacity:1; }
				50.001% { transform: translateX(120%);  opacity:0; }
				50.002% { transform: translateX(-120%); opacity:0; }
				55%	    { opacity:1; }
				100%	{ transform: translateX(0); }
			}

	.desert_sun {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		margin: 3vw;

		#sun {
			animation: linear 2s infinite sun_breathe;
		}
		#sun_ora {
			animation: linear 32s infinite sun_rotate;
		}
		#sun_yel {
			animation: linear 32s infinite reverse sun_rotate;
		}

		@keyframes sun_breathe {
			50% { transform: scale(0.9); }
			100% { transform: scale(1); }
		}

		@keyframes sun_rotate {
			25% { transform: rotate(90deg); }
			50% { transform: rotate(180deg); }
			75% { transform: rotate(270deg); }
			100% { transform: rotate(360deg); }
		}
	}

	.desert_terrain {
		display: flex;
		position: relative;
		bottom: 0;
		justify-content: center;
		z-index: 0;
		margin-top: auto;
		width: 100%;
		height: 75%;
		overflow: hidden;
	}
		.desert_furniture {
			width: clamp(100%, 1920px, 177.777%);
			height: 100%;

			.desert_grass,
			.desert_rock,
			.desert_cactus {
				overflow: visible;

				.desert_shadow {
					// Animated by js.
					//transform-origin: center;
					//transform: skewX(55deg) scaleY(0.3);
				}
			}
		}
		.desert_sand {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			width: clamp(100%, 1920px, 175%);
			height: 100%;
		}
	.desert_fills {
		position: absolute;
		opacity: 0;
		height: 0;
	}


	/* - - SIGN - - */


	.sign {
		filter: drop-shadow(3px 8px 8px #0004);
		position: relative;
		z-index: 1;
		border: solid 20px;
		border-radius: 3px;
		-o-border-image: var(--lw_triBorder);
		border-image: var(--lw_triBorder);
		background: var(--lw_white);
		height: fit-content;
		margin: auto;
		padding: 0 3em;
		
		@media ( max-width: 317px ) {
			padding: 0 1em;
		}
		
		&>.copy {
			.sign_title {
				margin-block-end: 1em;
				margin-block-start: 1.75em;
				line-height: 2em;
				font-family: var(--lw_font-display);
				font-size: var(--lw_font-xxl);
			}
			@media (max-width: 500px) {
				.sign_title {
					line-height: clamp(2.5rem, 10vmin, 6rem);
					font-size: clamp(1rem, 6vmin, 2.063rem);
				}
			}

			button {
				margin: 1em;
				font-size: var(--lw_font-xl);
			}
		}
		
		&>.sign_pinSignTop {
			position: absolute;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-end;
			z-index: 10;
			top: -20px;
			left: -20px;
			right: -20px;
			
			.grabhand {
				margin-top: -2.2vh;
				height: 6vh;
				width: 11.48vh;
				filter: drop-shadow(1px 2px 1px #0008);
			}

			.grabhand-left {
				margin-right: auto;
				margin-left: 20px;
			}
			
			.grabhand-right {
				margin-left: auto;
				margin-right: 20px;
			}
			
			@media ( min-width: 32em ) {
				.grabhand-left {
					margin-right: calc( 10vh + clamp( 0em, calc( 100vh - 100vw ), 9em ) );
				}

				.grabhand-right {
					display: none;
					margin-left: 13vh;
				}
			}
		}	
	}


	/* - - SVGME - - */


	.svgMe_container {
		position: absolute;
		right: 0;
		height: 100%;
		margin-right: 0;
		width: fit-content;
		max-width: 100vw;

		.svgMe {
			display: block;
			height: 100%;
			min-height: 100vh;
			transform: translateX( clamp( 0px, calc( 28vw - 64% ), 40% ) );
		}
	}
		.svgMe #eye-r_topLid,
		.svgMe #eye-l_topLid {
			animation: eye_blink-top 10s infinite;
		}
		.svgMe #eye-r_bottomLid,
		.svgMe #eye-l_bottomLid {
			animation: eye_blink-bottom 10s infinite;
		}
		.svgMe #eye-r_pupil,
		.svgMe #eye-l_pupil {
			animation: svgMe-lookingdown 12s infinite;
		}
		@media (min-width: 48em) {
			.svgMe #eye-r_pupil,
			.svgMe #eye-l_pupil {
			animation: svgMe-looking 12s infinite; }
		}
		@keyframes eye_blink-top {
			20% { transform: translateX( 0    ) translateY( 0   ); }
			21% { transform: translateX( -1px ) translateY( 7px ); }
			22% { transform: translateX( 0    ) translateY( 0   ); }
			75% { transform: translateX( 0    ) translateY( 0   ); }
			76% { transform: translateX( -1px ) translateY( 7px ); }
			77% { transform: translateX( 0    ) translateY( 0   ); }
			82% { transform: translateX( 0    ) translateY( 0   ); }
			83% { transform: translateX( -1px ) translateY( 7px ); }
			84% { transform: translateX( 0    ) translateY( 0   ); }
		}
		@keyframes eye_blink-bottom {
			20% { transform: translateY( 0    ); }
			21% { transform: translateY( -8px ); }
			22% { transform: translateY( 0    ); }
			75% { transform: translateY( 0    ); }
			76% { transform: translateY( -8px ); }
			77% { transform: translateY( 0    ); }
			82% { transform: translateY( 0    ); }
			83% { transform: translateY( -8px ); }
			84% { transform: translateY( 0    ); }
		}
		@keyframes svgMe-looking {
			8%   { transform: translateX( 0  ) translateY( 0  ); }
			9%   { transform: translateX(-2px) translateY( 3px); }
			19%  { transform: translateX(-2px) translateY( 3px); }
			20%  { transform: translateX( 0  ) translateY( 0  ); }
			75%  { transform: translateX( 0  ) translateY( 0  ); }
			76%  { transform: translateX(-2px) translateY( 3px); }
			86%  { transform: translateX(-2px) translateY( 3px); }
			87%  { transform: translateX( 0  ) translateY( 0  ); }
			94%  { transform: translateX( 0  ) translateY( 0  ); }
			99%  { transform: translateX(-2px) translateY( 3px); }
			100% { transform: translateX( 0  ) translateY( 0  ); }
		}
		@keyframes svgMe-lookingdown {
			8%   { transform: translateY( 0  ); }
			9%   { transform: translateY( 4px); }
			29%  { transform: translateY( 4px); }
			30%  { transform: translateY( 0  ); }
			75%  { transform: translateY( 0  ); }
			76%  { transform: translateY( 4px); }
			86%  { transform: translateY( 4px); }
			87%  { transform: translateY( 0  ); }
			94%  { transform: translateY( 0  ); }
			99%  { transform: translateY( 4px); }
			100% { transform: translateY( 0  ); }
		}
}