%button-base {
	transition: all var(--wp--custom--transition--hover-time) ease-in-out;
	border: 0;
	border-radius: var(--wp--custom--border-radius--large);
	box-shadow: none;
	cursor: pointer;
	max-width: 100%;
	overflow: visible;
	text-transform: uppercase;
	font-family: inherit;
	font-size: var(--wp--preset--font-size--medium);
	font-weight: 600;

	&:hover {
		border-radius: var(--wp--custom--border-radius--small);
		box-shadow: var(--wp--preset--shadow--theme-soft);
	}
}

%button {
	@extend %button-base;
	background: var(--wp--preset--color--wgj-accent);
	padding-top: calc( var(--wp--preset--spacing--20) + var(--wp--custom--border-size) );
	padding-right: calc( var(--wp--preset--spacing--40) + var(--wp--custom--border-size) );
	padding-bottom: calc( var(--wp--preset--spacing--20) + var(--wp--custom--border-size) );
	padding-left: calc( var(--wp--preset--spacing--40) + var(--wp--custom--border-size) );
	color: var(--wp--preset--color--wgj-fg-alt);
}

%button-outline {
	@extend %button-base;
	border: solid var(--wp--custom--border-size);
	background: #0000;
	padding-top: var(--wp--preset--spacing--20);
	padding-right: var(--wp--preset--spacing--40);
	padding-bottom: var(--wp--preset--spacing--20);
	padding-left: var(--wp--preset--spacing--40);
	color: currentColor;
}
