.queryLoopCards-coloured {

	&>* { // Post Temlpate (<li> card parent).

		&> * { // Stack block (card inner wrapper).
			overflow: hidden;
			background-color: var(--cardColour);
		}

		// Editor adds hidden items, so we have to filter them by not selecting [style="display: none;"].
		&:nth-child( 4n+1 of :not( *[style="display: none;"] ) )>* { --cardColour:var(--wp--preset--color--fdev-yellow); }
		&:nth-child( 4n+2 of :not( *[style="display: none;"] ) )>* { --cardColour:var(--wp--preset--color--fdev-green-light); }
		&:nth-child( 4n+3 of :not( *[style="display: none;"] ) )>* { --cardColour:var(--wp--preset--color--fdev-accent); }
		&:nth-child( 4n+4 of :not( *[style="display: none;"] ) )>* { --cardColour:var(--wp--preset--color--fdev-green-dark); }
	}

	li {
		figure {
			overflow: hidden;

			img {
				transition: transform 2s ease-in-out;
			}
		}

		&:hover {
			img {
				transform: scale(1.2);
			}
		}
	}
}
